<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="particles-js"></div>
    <div id="page">
      <h1>Round Up: Savings</h1>
      <p>An application that takes the "round-up" for a given week and transfers the amount to a savings goal/pot</p>
      <h2>Savings: £{{savings}}</h2> <!-- Sets the value of savings for the specified week -->
      <div id="button-form">
        <form action="#" method="get">
          <label for="week">What week would you like the "round-up" transferred to a savings goal?</label><br><br>
          <input id="week" type="week" name="week" size="15" required><br><br>
          <input type="submit" class="btn" value="Submit" name="mybtn">
         </form>
      </div>

    </div>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>

    <script src="{% static '/particles.js' %}"></script>
    <script src="{% static '/app.js' %}"></script>
  </body>
</html>
